<?xml version='1.0' encoding='utf-8'?>
<widget id="com.joelongstreet.beacon-hackday" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>The Game</name>
    <description>
        Beacon Game
    </description>
    <author email="TheGame@dsharris.org" href="...">
        Patrick Litte, David Harris
    </author>

    <!-- Change this property to try other beacon methods -->
    <content src="index.html" />

    <access origin="*" />
</widget>
