// Game Styles

body{
	background: $black;
	color: $white;
}

.app-header{
	position: absolute;
	z-index: 1000;
	border-width: 0;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	margin: 0;
	padding: 10px 30px;
	min-height: 40px;
	background: #000;
	color: $white;
	text-align: center;

}

.app-body{
	padding-top: 40px;
}

.app-footer{

	position: absolute;
	z-index: 1000;
	border-width: 0;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	margin: 0;
	top: auto;
	bottom: 0;
}

.player-health{
//	height: 20px;
	overflow: hidden;
	background-color: #000;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	border-top: 1px solid $white;

	.health-bar{
		float: left;
		width: 0;
		height: 100%;
		font-size: 16px;
		line-height: 20px;
		padding: 10px 0;
		color: rgba(161, 6, 13, 1.0);
		text-align: center;
		background-color: $red;
		-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
		box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
		-webkit-transition: width .6s ease;
		-o-transition: width .6s ease;
		transition: width .6s ease;
	}
}


// Touch Target

.touch-target{
	background: $white;
	color: $black;
	border-radius: 50%;
	text-align: center;

}

/*
.touch-taget{
	box-shadow: 0 0 5px $white;
    -webkit-animation: pulse 300ms ease-in-out infinite;
    -moz-animation: pulse 300ms ease-in-out infinite;
    animation: pulse 300ms ease-in-out infinite;
}

@-webkit-keyframes pulse {
    0% {box-shadow: 0 0 5px $white;}
    50% {box-shadow: 0 0 10px $white;}
    100% {box-shadow: 0 0 5px $white;}
}
@-moz-keyframes pulse {
    0% {box-shadow: 0 0 5px $white;}
    50% {box-shadow: 0 0 10px $white;}
    100% {box-shadow: 0 0 5px $white;}
}
@keyframes pulse {
    0% {box-shadow: 0 0 5px $white;}
    50% {box-shadow: 0 0 10px $white;}
    100% {box-shadow: 0 0 5px $white;}
}

*/